<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.livesafemobile.locationlogger">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".ui.LocationLoggerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LocationLoggerMapActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.livesafemobile.locationlogger.data.LogFileProvider"
            android:authorities="${applicationId}.com.livesafemobile.locationlogger.data.provider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>
